@charset "UTF-8";
/* Añado el estilo del HTML y del body, el fondo, el margen y la altura */
html, body {
    background: linear-gradient(to bottom, rgb(0, 0, 0), #564BD9);
    margin: 0;
    height: 100%;
}
/* Añado el estilo de la cabecera, la fuente, el tamaño, que esté centrado y el margen */
#cabecera {
    font-family: 'Poiret One';
    font-size: 200%;
    text-align: center;
    margin: 50px auto;
}
/* Añado el estilo de la segunda cabecera, la fuente, el tamaño, que esté centrado y el margen*/
#cabecera-secundaria {
    font-family: 'Poiret One';
    font-size: 150%;
    text-align: center;
    margin: 50px auto;
}
/* Añado el estilo del div que contiene el formulario */
.centrar-form {
    text-align: center;
    margin: 50px auto;
}

/* Añado el estilo del texto que va antes del input del nombre */
.centrar-form #texto-nombre {
    font-family: 'Carrois Gothic SC';
}

/* Añado el estilo del texto que hay dentro del input de nombre */
#nombre {
    font-family: 'Carrois Gothic SC';
}

/* Añado el estilo del texto que va antes del input del dni */
.centrar-form #texto-dni {
    font-family: 'Carrois Gothic SC';
}

/* Añado el estilo del texto que hay dentro del input de dni */
#dni {
    font-family: 'Carrois Gothic SC';
}